<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mycobot_280">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mycobot_280 urdf file -->
    <xacro:include filename="$(find mycobot_description)/urdf/mycobot_280_wrapper.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="mycobot_280.ros2_control.xacro" />

    <!-- Instantiate the ros2_control xacro to generate the <ros2_control> tag -->
    <xacro:mycobot_280_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/>

    <!-- Gazebo Classic Plugin for ros2_control -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find mycobot_moveit_config_new)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>